body {
    padding: 0px;
    margin: 0px;
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 3em;
    color: crimson;
}

#container {
    width: 500px;
    height: 500px;
    background-color: gainsboro;
    margin: 50px;
    display: grid;
    
}

.gridColor {
    --gridColor: "";
    background-color: var(--gridColor);
}

#sketchArea {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#colorSelector {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorBtn {
    --backgroundColor: "blue";
    padding: 1em;
    margin: 1em;
    background-color: var(--backgroundColor);
}